body {
    padding-top: 50px;
    background-color: #ffffff;
    color: #484848;
}
.starter-template {
    padding: 40px 15px;
}

.tab-pane{
    padding: 15px;
}

@-moz-document url-prefix() {
    .input-group .form-control{
       height: 100%;
    }
}

*:focus {
    outline: none;
}
